<a href="https://colab.research.google.com/github/Pearwa-likeLion/Beginning_I/blob/test00/testpd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
d={
    'Age' : pd.Series(['17', '15', '56'] ,index=["Pearwa" ,"Praw" , "Dean"]),
    'Tall' : pd.Series(['156', '165', '146'],index=["Pearwa" ,"Praw" , "Dean"])
}
df = pd.DataFrame(d)
print(df)

       Age Tall
Pearwa  17  156
Praw    15  165
Dean    56  146